@-moz-document url-prefix() {
#skrillmain .transactionmodewrapper {
    padding-right: 12px;
}
}

@-moz-document url-prefix() {
#skrillmain input[type="radio"], 
#skrillmain input[type="checkbox"], 
#skrillmain select {
    margin-top: 10px;
}

#skrillmain .skrillyesno {
    margin-top: 5px;
}
}