
#skrilllogo {
    text-align: left;
    width: 200px;
    height: 111px;
    background: url('../images/skrill-big.gif') no-repeat;
}

#skrillabout {
    text-align: left;
    width: 615px;
    margin-bottom: 10px;
}

#skrillconfig {
    text-align: center;
    width: 650px;
}

.hidden {
    visibility:  hidden;
}

#skrillmain label {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    font-weight: normal !important;
    font-size: 14px;
    color: #862165;
    float: left;
    text-align: right;
    margin: 5px;
    width: 200px;
    display: inline-block;
}

#skrillmain a {
    color: #862165;
    text-decoration: underline;
    font-family: 'Cantata One', serif !important;
    font-size: 12px;
}

#skrillmain .skrillshowcountries {
    font-size: 14px; 
}

#skrillmain .skrillhideshow {
    width: 230px;
    float: right;
    vertical-align:text-top;    
}

#skrillmain .skrillfiltercountry {
    width: 230px;
    float: right;
    vertical-align: text-top;
    margin-top: -30px;
}

#skrillmain .transactionmodewrapper {
    width: 400px;
    vertical-align: text-top;
    margin-top: 5px;
    float: left;
}

#skrillmain .skrillyesno {
    width: 270px;
    float: right;
    vertical-align: text-top;
    margin-top: 12px;
}

#skrillmain .skrillpmethod {
    width: 210px;
    margin-left: 40px;
    margin-right: 10px;
    float: left;
    text-align: center;
}

#skrillmain input, #skrillmain select {
    float: left;
    text-align: left;
    width: 200px;
    margin: 2px 2px 2px 2px;
}

.skrillformfield #transactionmode,
#skrillmain .skrillnumericselect {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:
        0 3px 0 #ccc,
        0 -1px #fff inset;
    -moz-box-shadow:
        0 3px 0 #ccc,
        0 -1px #fff inset;
    box-shadow:
        0 3px 0 #ccc,
        0 -1px #fff inset;
    background: #f8f8f8;
    color:#431032;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-size:14px !important;
    float: right;
    margin: -5px -10px 0px 10px;
}

#skrillmain .skrillnumericselect {
    float: none;
    width: 50px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .skrillformfield #transactionmode,
    #skrillmain .skrillnumericselect {
        padding-right:18px;
    }
}

.transactionmodewrapper {
    position:relative;
}

.transactionmodewrapper:after {
    content:'<>';
    font:11px "Consolas", monospace !important;
    color:#431032;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:4px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}

.transactionmodewrapper:before {
    content:'';
    right:4px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

select::selection {
    color: white;
    text-shadow: none;
    background: #431032;
}

select::-webkit-selection {
    color: white;
    text-shadow: none;
    background: #431032;
}

::selection {
    color: white;
    text-shadow: none;
    background: #431032;
}

#skrillmain input, #skrillmain textarea, #skrillmain keygen, #skrillmain select, #skrillmain isindex {
    margin: 0em;
    font: -webkit-small-control;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: -webkit-auto;
}

#skrillmain input[type="password"],
#skrillmain input[type="text"],
#skrillmain textarea[type="text"],
#skrillmain input[type="radio"],
#skrillmain input[type="checkbox"],
#skrillmain select {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #444;
    margin-top: 2px;
    border: 1px solid #431032;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#skrillmain .skrillcountries {
    width: auto;
}

#skrillmain .ms-container {
    background: transparent url('../img/switch.png') no-repeat 170px 80px;
    margin-left: 100px;
}

#skrillmain .skrillquestion {
    width: 300px;
}

#skrillmain .skrillcheckbox {
    width: auto;
    vertical-align: bottom;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

#skrillmain .skrillcheckbox:active, #skrillmain .skrillcheckbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
#skrillmain .skrillcheckbox:checked {
    background-color: #e9ecee;
    border: 1px solid #431032;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #431032;
}

#skrillmain .skrillcheckbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #431032;
}

#skrillmain .skrillradio {
    width: auto;
    margin-top: 5px;
    vertical-align: bottom;
    margin-left: 10px;
}

#skrillmain .testmode {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    width: auto;
    margin: 10px 0px 0px 7px;
    vertical-align: bottom;
    color: #431032;
}
 
#skrillmain .testmode:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    color: #431032;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: 0px;
    left: 3px;
    font-size: 14px;
    content: '\2714';
}
 
#skrillmain .testmode:checked {
    background-color: #e9ecee;
    color: #431032;
    border: 1px solid #431032;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
 
#skrillmain .testmode:active, #skrillmain .testmode:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.skrillformfield {
    padding: 4px;
}

#skrillconfigchannel {
    height: 275px;    
}

#skrillcurrencychannels {
    margin-top: 10px;
}

.skrillchannelconfig {
    height: 200px;
}

.skrillpaymentmethod {
    height: 270px;
}

.skrillpaymentmethod .ms-container ul.ms-list {
    width: 160px;
    height: 168px;
    padding: 0;
    overflow-y: auto;
    float: right;
    text-align: center;
}

.skrillpaymentmethod .custom-header {
    background-color: #862165;
    color: #E7D3E0;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Crafty Girls', cursive; 
}

#skrillformbuttons {
    width: 400px;
    text-align: center;
}

button.skrillbuttonconfirm {
    font-size:14px;
    color:#000;
    text-decoration:none;
    display:block;
    width:100px;
    padding:10px;
    border:1px solid #431032;
    text-align:center;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;

    background:#E7D3E0;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7D3E0), to(#EEE));
    background:-moz-linear-gradient(0% 90% 90deg, #EEE, #E7D3E0);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#E7D3E0', endColorstr='#EEE'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#E7D3E0', endColorstr='#EEE')"; /* IE8 */

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

button.skrillbuttonconfirm:hover {
    color:#fff;
    border-color:#431032;

    background:#862165;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#862165), to(#431032));
    background:-moz-linear-gradient(0% 90% 90deg, #431032, #862165);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#862165', endColorstr='#431032'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#862165', endColorstr='#431032')"; /* IE8 */
}

button.skrillbuttonconfirm:active {
    background:#862165;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#431032), to(#862165));
    background:-moz-linear-gradient(0% 90% 90deg, #862165, #431032);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#431032', endColorstr='#862165'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#431032', endColorstr='#862165')"; /* IE8 */
}

button.skrillbuttonconfirm.notransitions {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#skrillbuttoncancel {
    float: left;
    text-align: center;
    margin-left: 180px;
}

#skrillbuttonsave {
    float: left;
    text-align: center;
    margin-left: 8px;
}

#skrillmain input.error {
    border: 1px solid #DD212B;
    box-shadow: 0 0 5px #ED1B24;
}

.skrillerrormessage:before {
    content: 'X ';
    font-family: 'Crafty Girls', cursive;
    font-weight: bold;
}

.skrillerrormessage {
    color: #D63301;    
    background-color: #FFCCBA;
    border: 1px solid #D63301;
    width: 400px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 10px;
    
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
}

#tabs-nobg {
    padding: 0px;
}

#tabs-nobg .ui-tabs-nav {
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#tabs-nobg .ui-tabs-panel {
    margin: 0em 0.2em 0.2em 0.2em;
}

#tabs-nobg .ui-tabs-panel {
    border-width: 0px 1px 1px 1px;
    background: #E7D3E0 !important;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#E7D3E0)) !important;
    background:-moz-linear-gradient(0% 90% 90deg, #E7D3E0, #EEE) !important;
}

#tabs-nobg .ui-state-default, #tabs-nobg .ui-widget-content .ui-state-default, #tabs-nobg .ui-widget-header .ui-state-default {
    border: 1px solid #431032;
    background: #431032 50% 50% repeat-x;
    font-weight: bold;
    color: white;
    font-family: 'Cantata One', serif !important;
    font-size: 14px !important;
    
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#431032), to(#862165));
    background:-moz-linear-gradient(0% 90% 90deg, #862165, #431032);
}

#tabs-nobg .ui-state-active, #tabs-nobg .ui-widget-content .ui-state-active, #tabs-nobg .ui-widget-header .ui-state-active,
#tabs-nobg .ui-state-default .ui-corner-top .ui-tabs-active .ui-state-active {
    border: 1px solid #E7D3E0 !important;
    font-weight: bold;
    color: #862165 !important;
    font-family: 'Cantata One', serif !important;
    font-size: 14px !important;
    
    background: #E7D3E0 !important;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7D3E0), to(#EEE)) !important;
    background:-moz-linear-gradient(0% 90% 90deg, #EEE, #E7D3E0) !important;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#tabs-nobg .ui-state-active a, #tabs-nobg .ui-state-active a:link, #tabs-nobg .ui-state-active a:visited {
    color: #431032 !important;
    text-decoration: none;
    font-family: 'Cantata One', serif;
    font-size: 14px !important;
}

#tabs-nobg .ui-state-default a, #tabs-nobg .ui-state-default a:link, #tabs-nobg .ui-state-default a:visited {
    color: white;
    text-decoration: none;
    font-family: 'Cantata One', serif;
    font-size: 14px !important;
}
